# Aplying threshhold filtering to the data

In [1]:
## Loading test and train media data
import pandas as pd

media_test = pd.read_csv("../data/test/media.csv", index_col = 0, parse_dates = ['pub_date'])
media_train = pd.read_csv("../data/train/media.csv", index_col = 0, parse_dates = ['pub_date'])

In [2]:
media_test.describe()

,word_count,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,1001.430769,2.569231,1.923077,0.064551,0.434454,-0.352060,-0.661538
std,582.675590,1.391596,1.503202,0.178222,0.138639,0.537185,1.004318
min,192.000000,1.000000,0.000000,-0.300000,0.125000,-0.975459,-2.000000
25%,484.000000,1.000000,0.000000,-0.066667,0.342262,-0.919225,-2.000000
50%,916.000000,2.000000,2.000000,0.047727,0.412315,0.000000,0.000000
75%,1357.000000,4.000000,3.000000,0.171429,0.556602,0.000000,0.000000
max,3003.000000,5.000000,6.000000,0.473554,0.759091,0.925689,2.000000

In [3]:
media_test.sample(5)

,pub_date,word_count,type_of_material,_id,abstract,lead_paragraph,snippet,headline.main,text,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
207,2022-02-17 20:44:58+00:00,1075,News,nyt://article/cea445c2-7dbd-5c73-b2db-0e58372c...,The project is a big bet on scaling up program...,Google said on Thursday that it was creating a...,The project is a big bet on scaling up program...,Google Creates $100 Million Fund for Skills Tr...,The project is a big bet on scaling up program...,1,2,0.341667,0.558333,0.634124,1
244,2022-11-02 12:16:10+00:00,1807,News,nyt://article/e849940b-26de-5f6f-804c-bdd92bed...,Markets expect another big interest rate incre...,Wednesday is the final meeting of the Fed’s Op...,Markets expect another big interest rate incre...,Investors Await the Fed’s Next Move,Markets expect another big interest rate incre...,3,0,-0.045455,0.404545,0.000000,0
28,2022-11-17 13:32:18+00:00,1799,News,nyt://article/15c8aabc-5866-5ef6-91bd-9cfe8220...,The crypto exchange’s collapse is stoking fear...,The breadth of the global fallout from FTX’s c...,The crypto exchange’s collapse is stoking fear...,Investor Losses From FTX’s Implosion Are Growing,The crypto exchange’s collapse is stoking fear...,3,0,-0.231111,0.317778,-0.949574,-2
151,2022-02-24 00:01:18+00:00,376,News,nyt://article/98cf03cd-2d3f-574a-a50c-ac9aa94e...,The company also said it would restore many of...,As Google prepares to bring workers back to it...,The company also said it would restore many of...,Google eases pandemic rules for employees in t...,The company also said it would restore many of...,1,2,0.333333,0.333333,0.513604,1
61,2022-10-26 12:04:51+00:00,1733,News,nyt://article/3750b214-691c-5b31-a3a7-ef28c947...,"Disappointing earnings from Microsoft, Alphabe...",The recent rally in technology stocks could co...,"Disappointing earnings from Microsoft, Alphabe...",Tech Stocks Tumble as Growth Falters,"Disappointing earnings from Microsoft, Alphabe...",3,0,-0.225000,0.318750,-0.972732,-2

In [4]:
media_train.describe()

,word_count,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,985.404878,3.175610,1.507317,0.086210,0.439707,-0.240273,-0.400000
std,529.933826,1.501108,1.363457,0.216117,0.219924,0.413148,0.738308
min,0.000000,1.000000,0.000000,-0.600000,0.000000,-0.971130,-2.000000
25%,595.000000,2.000000,0.000000,0.000000,0.318750,-0.674730,-1.000000
50%,1056.000000,3.000000,2.000000,0.066667,0.433333,0.000000,0.000000
75%,1273.000000,5.000000,2.000000,0.175000,0.554286,0.000000,0.000000
max,2942.000000,5.000000,6.000000,1.000000,1.000000,0.952288,2.000000

In [5]:
## use nltk for word count

from textblob import TextBlob

In [6]:
## set word count threshold

word_threshold = 1
word = 'google'

In [7]:
## drop rows in  media_test where the 'text' column mentions the variable word less than specified variable the word_threshold

media_test = media_test[media_test['text'].apply(lambda x: TextBlob(x).words.count(word) >= word_threshold)]

## drop rows in  media_train where the text column has word less than the word_threshold

media_train = media_train[media_train['text'].apply(lambda x: TextBlob(x).words.count(word) >= word_threshold)]

In [8]:
media_test.describe()

,word_count,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,795.934783,2.369565,2.717391,0.042671,0.436645,-0.388673,-0.717391
std,455.340137,1.435405,1.003617,0.151709,0.134932,0.553173,1.046965
min,192.000000,1.000000,1.000000,-0.300000,0.125000,-0.975459,-2.000000
25%,433.000000,1.000000,2.000000,-0.066667,0.344643,-0.919303,-2.000000
50%,607.500000,2.000000,2.000000,0.042339,0.416872,-0.612543,-1.000000
75%,1227.750000,4.000000,3.000000,0.156250,0.557900,0.000000,0.000000
max,1863.000000,5.000000,6.000000,0.355682,0.759091,0.925689,2.000000

In [9]:
media_test.sample(5)

,pub_date,word_count,type_of_material,_id,abstract,lead_paragraph,snippet,headline.main,text,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
227,2022-12-28 10:00:14+00:00,1312,News,nyt://article/db8a0592-6c7b-51b5-b880-1919254a...,The tech giant has so far taken steps to strea...,Google workers in Switzerland sent a letter th...,The tech giant has so far taken steps to strea...,Google Employees Brace for a Cost-Cutting Driv...,The tech giant has so far taken steps to strea...,1,2,0.056061,0.759091,-0.960535,-2
84,2022-09-29 18:01:39+00:00,594,News,nyt://article/511c8c61-70cd-5230-9819-097f0672...,"After nearly three years, Google has decided t...",Google said it would shutter the video game st...,"After nearly three years, Google has decided t...",Google to Shut Down Stadia Video Game Streamin...,"After nearly three years, Google has decided t...",5,5,-0.068376,0.401709,-0.949011,-2
178,2022-05-20 15:50:25+00:00,1476,News,nyt://article/aed9df97-8a9e-5211-9af6-a7db35f9...,"Flush with cash, Facebook, Apple, Amazon, Micr...","SAN FRANCISCO — Apple, Amazon, Microsoft and t...","Flush with cash, Facebook, Apple, Amazon, Micr...",Big Tech Is Getting Clobbered on Wall Street. ...,"Flush with cash, Facebook, Apple, Amazon, Micr...",2,3,0.172727,0.481818,-0.915605,-2
58,2022-12-10 10:00:24+00:00,1227,News,nyt://article/344d30c7-efd6-57ed-afc9-00b361e4...,"Siri, Google Search, online marketing and your...","This month, Jeremy Howard, an artificial intel...","Siri, Google Search, online marketing and your...",The New Chatbots Could Change the World. Can Y...,"Siri, Google Search, online marketing and your...",4,2,0.010795,0.444318,0.000000,0
165,2022-07-23 19:05:55+00:00,346,News,nyt://article/a339f0bc-0903-5c1b-9427-b39165a5...,"The engineer, Blake Lemoine, contends that the...",SAN FRANCISCO — Google fired one of its engine...,"The engineer, Blake Lemoine, contends that the...",Google Fires Engineer Who Claims Its A.I. Is C...,"The engineer, Blake Lemoine, contends that the...",3,2,0.050000,0.650000,-0.883691,-1

In [10]:
media_train.describe()

,word_count,relevance_rank,keyword_counts,polarity,subjectivity,finbert-sentiment-score,finbert-bin
count,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000
mean,921.389706,2.889706,2.272059,0.090072,0.437138,-0.294522,-0.477941
std,527.993353,1.528363,1.028965,0.189070,0.207286,0.450968,0.797839
min,0.000000,1.000000,1.000000,-0.600000,0.000000,-0.971130,-2.000000
25%,480.000000,1.000000,2.000000,0.000000,0.331250,-0.777896,-1.000000
50%,929.000000,3.000000,2.000000,0.070853,0.431812,0.000000,0.000000
75%,1277.000000,4.000000,3.000000,0.175000,0.547500,0.000000,0.000000
max,2942.000000,5.000000,6.000000,0.800000,1.000000,0.952288,2.000000

In [12]:
### save the filtered data

media_test.to_csv("../data/test/media_filtered.csv")
media_train.to_csv("../data/train/media_filtered.csv")